<!DOCTYPE html>

<html>

<head>
    <title>Healthy Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/resources/static/css/styles.css">
</head>
    <div class="navbar">
        <a class="navbar-brand" href="http://localhost:8082/">HH</a>
            <ul class="navbar-links">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8082/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/habits">Habits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/graph">Graph</a>
                </li>
            </ul>
        </div>
    </nav>
    <body>

        <div class="content-wrapper">


            <div class="home-header">
                <h1>Healthy Habits</h1>
            </div>
            <div class="home-header-subtitle">
                <h3>A self-improvement app for cultivating better habits.</h3>
            </div>



            <div class="home-content-bait">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="home-content-hook">
                <h2>Register</h2>


        </div>

    </div>
</div>





    </body>

</html>
