.navbar {
	background-color: #59C149;
	color: white;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.navbar-brand {
	float: left;
	color: white;
}

.navbar-item a:hover {
	transition-property: color;
	transition-duration: 0.2s;
	trans
}

.content-wrapper {

}

.home-header {
	text-align: center;
}

.home-header-subtitle {
	text-align: center;
}

.home-content-bait {
	text-align: center;
}