<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Healthy Habits - Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8082/">HealthyHabits.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8082/habits">Habits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8082/graph">Graph</a>
                </li>
            </ul>
        </div>
    </nav>

    <body>
    <div class="jumbotron">
        <h1 class="display-4">Add habits you want to curb here!</h1>
    </div>

    <form action="#" th:action="@{/habits}" method="post" th:object="${habit}">
        <div class="form-group">
            <label for="inputHabitName">Habit Name </label>
            <input type="text" th:field="*{name}" class="form-control" id="inputHabitName" required minlength="3" maxlength="12"/>
            <label for="inputHabitRating">Habit Rating </label>
            <input type="text" th:field="*{rating}" class="form-control" id="inputHabitRating" required aria-valuemin="0" aria-valuemax="10"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    </body>


</div>

</html>
