<!DOCTYPE html>

<html>

<head>
    <title>Healthy Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
        <div class="navbar">
            <div class="navbar-left">
                    <div class="navbar-items">
                        <div class="navbar-item-active">
                            <a class="navbar-link" href="http://justinm.tech">Home</a>
                        </div>
                        <div class="navbar-item">
                            <a class="nav-link" href="http://justinm.tech/habits">Habits</a>
                        </div>
                        <div class="navbar-item">
                            <a class="nav-link" href="http://justinm.tech/visualizer">Visualizer</a>
                        </div>
                    </div>
            </div>
            <div class="navbar-right">
                <div class="dropdown">
                    <div class="navbar-items">
                        <div class="navbar-item">
                            <a class="navbar-link" href="">Account</a>
                        </div> 
                    <div class="dropdown-content">
                        <a href="http://justinm.tech/login">Login</a>
                        <a href="http://justinm.tech/logout">Logout</a>
                        <a href="http://justinm.tech/register">Register</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">           
            <div class="section" id="header">
                <div class="section-img" id="img-header" style="background-image: url(images/cover2.jpg)"></div>
                    <h1>Healthy Habits</h1>
                        <div class="section-text" id="header-text">
                            <h3>A self-improvement site for cultivating better habits.</h3>
                        </div>
            </div>
            <div class="section" id="about">
                    <h1>OUR MISSION</h1>
                <div class="section-text" id="about-text">
                    <p>Do you spend too much time on your phone, browsing the web, or some other vice that distracts you? In a world that is constantly demanding our attention, time is our most valuable asset! We are here to help people live happier, healthier and more productive lives.</p>
                </div>
            </div>

            <div class="section" id="register">
                <div class="section-img" id="register-img" style="background-image: url(images/cover5.jpeg)"></div>            
                <h1 class="section-text" id="get-started">GET STARTED</h1>
                        <div class="section-text" id="register-bullet-points">
                            <p>Track your habits.</p>  
                            <p>Visualize your progress.</p>  
                            <p>Improve yourself.</p>                                                                                                   
                        </div>
                        <div class="section-button">
                            <div class="section-button-item">
                                <a class="section-button-link" href="http://localhost:8082/register">Create Account</a>
                            </div>
                        </div>  
            </div>

            <div class="footer">
                    <div class="footer-content">
                        <div class="footer-links">
                            <div class="footer-items"> 
                                <div class="footer-copyright">
                                <p>Copyright © 2021 Justin Mitchell</p> 
                            </div>                            
                        
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>
