<!DOCTYPE html>

<html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Healthy Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
        <div class="navbar">
            <div class="navbar-left">
                    <div class="navbar-items">
                        <div class="navbar-item-active">
                            <a class="navbar-link" href="http://justinm.tech/home">Home</a>
                        </div>
                        <div class="navbar-item">
                            <a class="nav-link" href="http://justinm.tech/habits">Habits</a>
                        </div>
                        <div class="navbar-item">
                            <a class="nav-link" href="http://justinm.tech/visualizer">Visualizer</a>
                        </div>
                    </div>
            </div>
            <div class="navbar-right">
                <div class="dropdown">
                    <div class="navbar-items">
                        <div class="navbar-item">
                            <a class="navbar-link" href="">Account</a>
                        </div> 
                    <div class="dropdown-content">
                        <a href="http://justinm.tech/register">Register</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">           
            <div class="section" id="header">
                <div class="section-img" id="img-header" style="background-image: url(images/cover2.jpg)"></div>                 
                    <h1>Login</h1>
                        <div class="section-text" id="header-text">
                            <h3>Login to your account.</h3>
                        </div>
            </div>
            <div class="section" id="about">
                    <h1>ENTER INFO</h1>
                <div class="section-text" id="about-text">
                    <form action="#" th:action="@{/login}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" th:field="*{username}" class="form-control" id="inputUsername" required minlength="3" maxlength="320"/>
                            <label for="inputPassword">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="inputPassword" required minlength="7" maxlength="128"/>
                            <button type="submit" class="btn btn-primary">Login</button>

                        </div>
                    </form>
                </div>
            </div>

            <div class="footer">
                    <div class="footer-content">
                        <div class="footer-links">
                            <div class="footer-items"> 
                                <div class="footer-copyright">
                                <p>Copyright © 2021 Justin Mitchell</p> 
                            </div>                            
                        
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>
