<!DOCTYPE html>

<html>

<head>
    <title>Healthy Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
        <div class="navbar">
            <div class="navbar-left">
                    <div class="navbar-items">
                        <div class="navbar-item">
                            <a class="navbar-link" href="http://justinm.tech/home">Home</a>
                        </div>
                        <div class="navbar-item">
                            <a class="nav-link" href="http://justinm.tech/habits">Habits</a>
                        </div>
                        <div class="navbar-item">
                            <a class="nav-link" href="http://justinm.tech/visualizer">Visualizer</a>
                        </div>
                    </div>
            </div>
            <div class="navbar-right">
                <div class="dropdown">
                    <div class="navbar-items">
                        <div class="navbar-item">
                            <a class="navbar-link" href="">Account</a>
                        </div> 
                    <div class="dropdown-content">
                        <a href="http://justinm.tech/logout">Logout</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">           
            <div class="section" id="header">
                <div class="section-img" id="img-header" style="background-image: url(images/cover2.jpg)"></div>                 
                    <h1>Logged Out</h1>
                        <div class="section-text" id="header-text">
                            <h3>You logged out of your account.. Good luck out there!</h3>
                        </div>
            </div>

            <div class="footer">
                    <div class="footer-content">
                        <div class="footer-links">
                            <div class="footer-items"> 

                                <div class="footer-copyright">
                                <p>Copyright © 2021 Justin Mitchell</p> 
                            </div>                            
                        
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>
