<!DOCTYPE html>

<html>

<html>

<head>
    <title>Healthy Habits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <div class="navbar-items">
            <div class="navbar-item-active">
                <a class="navbar-link" href="http://localhost:8082/home">Home</a>
            </div>
            <div class="navbar-item">
                <a class="nav-link" href="http://localhost:8082/habits">My Habits</a>
            </div>
            <div class="navbar-item">
                <a class="nav-link" href="http://localhost:8082/graph">Visualizer</a>
            </div>
        </div>
    </div>
    <div class="navbar-right">
        <div class="dropdown">
            <div class="navbar-items">
                <div class="navbar-item">
                    <a class="navbar-link" href="">Account</a>
                </div>
                <div class="dropdown-content">
                    <a href="http://localhost:8082/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="section" id="header">
        <div class="section-img" id="img-header" style="background-image: url(images/cover2.jpg)"></div>
        <h1>Registration Successful</h1>
        <div class="section-text" id="header-text">
            <h3>Welcome to Healthy Habits!</h3>
        </div>
    </div>
    <div class="section" id="about">
        <h1>NOW REGISTERED</h1>
        <div class="section-text" id="about-text">
            <p>Please <a href="http://localhost:8082/login">login</a> to continue.</p>
        </div>
    </div>

    <div class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <div class="footer-items">
                    <a class="footer-link" href="http://localhost:8082/logout">About</a>
                    <a class="footer-link" href="http://localhost:8082/logout">About</a>
                    <a class="footer-link" href="http://localhost:8082/logout">About</a>
                    <a class="footer-link" href="http://localhost:8082/logout">About</a>

                    <div class="footer-copyright">
                        <p>Copyright © 2021 Justin Mitchell</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
